@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@800&family=Roboto+Mono:ital,wght@1,600&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    
}

header > img{
    width: 100%;
    height: 215px;
    background-size: cover;
}
.plano > img {
    height: 100px;
    display: flex;
    margin: auto;
    margin-top: -90px ;
}

h1{
    font-family: 'Poppins';
    color: #FF7200;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 2.3em;
    width: 400px;
    text-align: center;
    margin: auto;
}
main{
    background-color: white;
    height: 2050px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin: auto;
    width: 380px;
}
.plano > h2{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding-top: 20px;
    padding-left:  40px;
    font-weight: normal;
 
}
.plano > h3{
    margin-top: -15px;
    font-family: 'Poppins';
    padding-left: 40px;
    font-size: 2.5em;
    font-weight: bolder;

}
.plano > p{
    position: relative;
    padding-left: 200px;
    top: -50px;
    font-weight: 400;
      
}
.valor{
    font-size: 50px;
}
.banner{
    margin-top: -10px;
    color: white;
    background-color: red;
    height: 180px ;
}
.banner > h2{
    text-align: center;
    padding-top: 20px;
    font-size: 4em;
}
.banner > p{
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    font-weight: bolder;
}
.texto > h2{
    font-family: 'Poppins';
    font-size: 2em;
    padding: 20px 20px;
}
.texto > p{
    padding-bottom: 20px;
    padding-left: 20px ;
    font-size: 1.2em;
    font-weight: 500;
}
.texto > h3{
    font-family: 'Poppins';
    text-align: center;
    border-radius: 20px;
    color: white;
    background-color: red;
    margin: auto;
    width: 300px;
    padding: 20px;
    
}
.texto > h3,a {
    text-decoration: none;
    color: white;
}
.mensal{
    display: flex;
    color: white;
    margin: auto;
    margin-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    padding: 20px 20px 0px 20px;
    list-style: none;
    border: 1px solid #ffffff;
    width: 340px;
}
.mensal > ul,li{
    list-style: none; 
    padding-bottom: 20px;
}
.mensal > ul > h3{
    text-align: center;
    padding: 20px 0px;
    background-color: #FF7200;
    border-radius: 10px;
}
.Plano2{
    padding-top: 20px;
    padding-left:  40px;
    font-weight: normal;
}
.Mensal2{
    margin-top: -15px;
    font-family: 'Poppins';
    padding-left: 40px;
    font-size: 2.5em;
    font-weight: bolder;
}
.conclusao > p{
    color: white;
    font-size: 2em;
    padding-top: 60px;
    width: 400px;
    padding-left: 40px;
}
.conclusao > h3{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    color: white;
    padding: 15px 20px;
    background-color: #10C919;
    width: 250px;
    border-radius: 10px;
}
.conclusao > h3 > img{
    height: 20px;
    padding-right: 5px;
}
.final{
    background-color: white;
    height: 400px;
    margin-top: 40px;
}
.final > h2{
    font-family: 'Poppins';
    text-align: center;
    font-size: 2em;
    width: 300px;
    margin: auto;
    padding-top: 50px;
    color: #FF7200;
}
.final > p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1;
    text-align: justify;
    font-size: 1.1em;
    text-align: center;
    width: 420px;
    margin: auto;
}

