@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@800&family=Roboto+Mono:ital,wght@1,600&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    
}

header > img{
    width: 100%;
    height: 215px;
    background-size: cover;
}
.plano > img {
    height: 100px;
    display: flex;
    margin: auto;
    margin-top: -90px ;
}

h1{
    font-family: 'Poppins';
    color: #FF7200;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 2.3em;
    width: 400px;
    text-align: center;
    margin: auto;
}
main{
    background-color: white;
    height: 2300px;
    margin-top: 10px;
    margin: auto;
    width: 420px;
}
.plano > h2{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding-top: 20px;
    padding-left:  40px;
    font-weight: normal;
 
}
.plano > h3{
    margin-top: -15px;
    font-family: 'Poppins';
    padding-left: 40px;
    font-size: 2.5em;
    font-weight: bolder;

}
.plano > p{
    position: relative;
    padding-left: 230px;
    top: -50px;
    font-weight: 400;
    
    
}
.valor{
    font-size: 50px;
}
.banner{
    margin-top: -10px;
    color: white;
    background-color: red;
    height: 180px ;
}
.banner > h2{
    text-align: center;
    padding-top: 20px;
    font-size: 4em;
}
.banner > p{
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    font-weight: bolder;
}
.texto > h2{
    font-family: 'Poppins';
    font-size: 2em;
    padding: 20px 20px;
}
.texto > p{
    padding-bottom: 20px;
    padding-left: 20px ;
    font-size: 1.2em;
    font-weight: 500;
}
.texto > h3{
    font-family: 'Poppins';
    text-align: center;
    border-radius: 20px;
    color: white;
    background-color: red;
    margin: auto;
    width: 300px;
    padding: 20px;
    
}
.texto > h3,a {
    text-decoration: none;
    color: white;
}