@font-face {
    font-family: Love ;
    src: url('love story ttf.ttf') format('opentype'), url('love\ story\ ttf.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}
body,html{
    background-image: url(R\ \(2\).jfif);
    background-size: cover;
    background-position-x: center, center;
    height: 100vh;
    width: 97vw;
    background-repeat: no-repeat;
    background-color: #000;
}
h2{
    font-family: 'Love';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.532);
    color: rgb(16, 16, 16);
    border: 1px solid red;
    transition: all 0.5s ease;
    font-size: 1.3em;
}
h1{
    text-align: center;
    padding-top: 20px;
    color: white;
    transition: all 0.5s ease;
    
}
button{
    width: 50px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease;
}
#elemento {
    position: absolute;
    top: 50%;
    left: 45%;
    margin-left: 60px;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;

  /* adicionando transição suave para o movimento */ }
#aceita{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    justify-content: center;
      
}
footer{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
    font-family: 'Love';
    background-color: rgba(255, 255, 255, 0.237);
}