*{
    font-family: Arial, Helvetica, sans-serif;

}



fieldset{
    background-color: darkcyan;
    width: 400px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    border: 2px solid red;
    
}