@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    /*
    medidas absolutas 
    cm, mm, in, px, pt, p

    medidas relativaS
    em, ex, rem, vw, vh, %
    
    16px e iagual a 1em
    
    */
    font-size: 1em;
    font-weight: normal;
    /* lighter, normal, bold, bolder*/
}