@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


html, body{
    min-height: 100vh;
    background-color: white;
    font-family: var(--fonte1);
    font-size: 1em;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
h1{
    padding-top: 50px;
    font-size: 10vw;
}
h3{
    padding-bottom: 40px;
}
section{
    font-size: 3.5vw;
   line-height: 2em;
  padding: 40px 20px;
   font-family: 'Sriracha';
  
   
   
}


.paragrafo2{
    background-color: rgb(41, 37, 37);
    margin: 10px -40px 0px -40px;
    padding: 40px;
    background-image: url(imagens/background001.jpg);
    background-attachment: scroll;
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat ;
    background-size: cover;

}

.p2{
    padding: 0px 19px;
}
.p2 p{
    background-color: rgba(0, 0, 0, 0.514) ;
    padding: 5px;
    display: inline-block;
    color: white; 
}

.paragrafo5{
  background-image: url(imagens/background002.jpg);
  background-attachment: fixed;
  background-size: cover;
  text-align: left;
  margin: 0px 0px 0px -20px;
  
    
}
