/*-----estilo da tela ------*/

*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 400px;
    margin: auto;
    border: 1px solid black;
    background-color: gray;
    

}
header{
    background-color: gray;
    padding: 10px 10px 0px 10px;
    
}
header > h1{
    text-align: center;
}

ul{
    background-color: rgb(61, 57, 57);
    margin: 15px -10px ;
    
    list-style: none;
}
ul > li{
    display: inline-block;
    padding: 5px 20px;
    background-color: rgb(47, 44, 44);
    color: white;
}
